* {
    font-family: sans-serif;
}
body {
    background-color: black;
}
ul {
    list-style: none;
}

/* Header and Navigation */
header {
    width: 100%;
    background-color: #00FF96;
}
.header-logo {
    text-align: center;
    padding: 10px;
}
.header-logo h1 {
    font-size: 5em;
    margin: 0;
}
.header-navbar {
    background-color: rgb(147, 147, 147);
}
.header-navbar-list {
    padding: 0;
    display: flex;
}
.header-navbar-list-item {
    padding: 12px;
    transition: 0.3s;
}
.item-active {
    background-color: rgb(255, 115, 64);
}
.header-navbar-list-item a {
    text-decoration: none;
    color: black;
}
.header-navbar-list-item:hover {
    background-color: #00b168;
}

/* Containers */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
    color: white;
    width: 600px;
}

/* Forms */
.form-group {
    margin: 15px 0px;
}

/* Tabs */
.tabs {
    overflow: hidden;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}
.tabs button {
    background-color: #00FF96;
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
}
.tabs button:hover {
    background-color: #00b168;
    color: white; 
}
.tabs button.active {
    background-color: rgb(255, 115, 64);
}
.tabcontent h2 {
    display: inline-block;
}
.close {
    cursor: pointer;
    font-size: 28px;
    float: right;
}
.links {
    color: white;
    text-decoration: none;
}

